<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- vue -->
  <script src="https://unpkg.com/vue@3.2.47"></script>
  
  <link rel="stylesheet" href="./style.css">
  <title></title>
</head>

<body>
  <div id="app">

    <ul class="menu">
      <li v-for="cardsFile in cardsFiles" class="menu__item">
      <h2
        class="menu__item__header"
        @click="cardsFile.toggleCollapsed(); cardsFile.fetchContent()">{{ cardsFile.stem }}</h2>
        
        <div class="settings" v-if="!cardsFile.collapsed">
          
          <span class="bounds__menu">
            
            from
            <span @click="cardsFile.minCardNum--">&lt;</span>
            <span class="bound__num">{{
              cardsFile.minCardNum
            }}</span>
            <span @click="cardsFile.minCardNum++">&gt;</span>
            
            to
            <span @click="cardsFile.maxCardNum--">&lt;</span>
            <span class="bound__num">{{
              cardsFile.maxCardNum
            }}</span>
            <span @click="cardsFile.maxCardNum++">&gt;</span>
            
            out of
            <span>{{ cardsFile.len }}</span>
          </span>

          
          <a :href="cardsFile.appLink">go</a>
        </div>
      </li>
    </ul>
  </div>
  <script src="main.js"></script>
</body>
</html>