<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- vue -->
  <script src="https://unpkg.com/vue@3.2.47"></script>
  
  <link rel="stylesheet" href="./style.css">
  <title></title>
</head>

<body>
  <div id="app">

    <ul class="menu">
      <li v-for="cardsFile in cardsFiles" class="menu__item">
        <form action="learn/">
        <h2
          class="menu__item__header"
          @click="cardsFile.toggleCollapsed(); cardsFile.fetchContent()">
          <span class="filename">{{ cardsFile.stem }}</span>
          <button v-if="!cardsFile.collapsed" class="go" type="submit">
            go
          </button>
        </h2>
     
          <div v-if="!cardsFile.collapsed" class="settings">
          
          <span class="bounds__menu">
            <div class="bounds__from_to">
              from
              <span class="btn" @click="cardsFile.minCardNum--">-</span>
              <input type="number" class="bound__num" v-model.lazy.trim="cardsFile.minCardNum">
              <span class="btn" @click="cardsFile.minCardNum++">+</span>
            </div>
              
            <div class="bounds__from_to">
              to
              <span class="btn" @click="cardsFile.maxCardNum--">-</span>
              <input type="number" class="bound__num" v-model.lazy.trim="cardsFile.maxCardNum">
              <span class="btn" @click="cardsFile.maxCardNum++">+</span>
            </div>
          </span>
          
          <input type="text" name="file" v-model="cardsFile._fileNameEncoded" hidden />
          
          </div>
        </form>
      </li>
    </ul>
  </div>
  <script src="main.js"></script>
</body>
</html>