@import 'https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,600,700';

body {
  font-size: 15pt;
  font-family: 'Work Sans';
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  background-color: #F6F1F1;
}

.menu {
  margin: 0; padding: 0;
}

.menu__item {
  text-align: center;
  margin: 15px;
  padding: 10px;
  
  background-color: white;
  color: #146C94;
  border-radius: 15px;
  
  list-style: none;
}

.menu__item__header {
  font-weight: 500;
  display: block;
  margin: 0; padding: 0;
  font-size: inherit;
}

.bound__num {
  font-family: unset;
  font-size: unset;
  color: unset;
  
  text-align: center;
  width: 25px
}

.btn {
  border: 1px solid;
  border-radius: 5px;
  padding: 0 5px;
  margin: 5px;
}

button {
  font-family: unset;
  font-size: unset;
  color: unset;
}
